In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
import joblib
import os

In [2]:
df = pd.read_csv("../data/bordeaux_2022.csv")

In [3]:
df.head()

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,prix_m2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2022,Vente,...,0,1.0,Maison,NaN,71.0,4.0,S,NaN,70.0,5577.464789
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,05/01/2022,Vente,...,1,2.0,Appartement,NaN,40.0,1.0,NaN,NaN,NaN,3962.500000
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2022,Vente,...,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN,inf
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2022,Vente,...,1,2.0,Appartement,NaN,35.0,1.0,NaN,NaN,NaN,5342.857143
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2022,Vente,...,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN,inf

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13200 entries, 0 to 13199
Data columns (total 44 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Identifiant de document     0 non-null      float64
 1   Reference document          0 non-null      float64
 2   1 Articles CGI              0 non-null      float64
 3   2 Articles CGI              0 non-null      float64
 4   3 Articles CGI              0 non-null      float64
 5   4 Articles CGI              0 non-null      float64
 6   5 Articles CGI              0 non-null      float64
 7   No disposition              13200 non-null  int64
 8   Date mutation               13200 non-null  object
 9   Nature mutation             13200 non-null  object
 10  Valeur fonciere             13200 non-null  float64
 11  No voie                     13155 non-null  float64
 12  B/T/Q                       402 non-null    object
 13  Type de voie                13198 non-null  object
 14  Code voie                   13200 non-null  object
 15  Voie                        13200 non-null  object
 16  Code postal                 13200 non-null  float64
 17  Commune                     13200 non-null  object
 18  Code departement            13200 non-null  int64
 19  Code commune                13200 non-null  int64
 20  Prefixe de section          0 non-null      float64
 21  Section                     13157 non-null  object
 22  No plan                     13200 non-null  int64
 23  No Volume                   0 non-null      float64
 24  1er lot                     9530 non-null   object
 25  Surface Carrez du 1er lot   2000 non-null   object
 26  2eme lot                    1659 non-null   float64
 27  Surface Carrez du 2eme lot  336 non-null    object
 28  3eme lot                    254 non-null    float64
 29  Surface Carrez du 3eme lot  33 non-null     object
 30  4eme lot                    104 non-null    float64
 31  Surface Carrez du 4eme lot  13 non-null     object
 32  5eme lot                    49 non-null     float64
 33  Surface Carrez du 5eme lot  11 non-null     object
 34  Nombre de lots              13200 non-null  int64
 35  Code type local             13200 non-null  float64
 36  Type local                  13200 non-null  object
 37  Identifiant local           0 non-null      float64
 38  Surface reelle bati         13200 non-null  float64
 39  Nombre pieces principales   13200 non-null  float64
 40  Nature culture              3668 non-null   object
 41  Nature culture speciale     15 non-null     object
 42  Surface terrain             3668 non-null   float64
 43  prix_m2                     13200 non-null  float64
dtypes: float64(22), int64(5), object(17)
memory usage: 4.4+ MB

In [5]:
df.describe()

/Users/Simplon/Cours/api_rest/projets/IA&Immobilier/.venv/lib/python3.10/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/Users/Simplon/Cours/api_rest/projets/IA&Immobilier/.venv/lib/python3.10/site-packages/numpy/lib/_function_base_impl.py:4653: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Valeur fonciere,No voie,...,3eme lot,4eme lot,5eme lot,Nombre de lots,Code type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Surface terrain,prix_m2
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13200.000000,1.320000e+04,13155.000000,...,254.000000,104.000000,49.000000,13200.000000,13200.000000,0.0,13200.000000,13200.000000,3668.000000,1.320000e+04
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.005152,5.795447e+05,121.520030,...,69.263780,125.644231,33.489796,0.889848,2.421742,NaN,50.009621,1.461742,605.805889,inf
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.083329,1.349560e+06,735.695487,...,449.368839,698.907801,67.496334,0.843898,0.753061,NaN,275.385688,1.778360,5832.316733,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000e+00,1.000000,...,2.000000,2.000000,2.000000,0.000000,1.000000,NaN,0.000000,0.000000,10.000000,5.834306e-04
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.985000e+05,15.000000,...,6.000000,6.000000,7.000000,0.000000,2.000000,NaN,0.000000,0.000000,122.750000,4.900182e+03
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,3.093250e+05,37.000000,...,9.000000,9.000000,9.000000,1.000000,2.000000,NaN,26.000000,1.000000,195.000000,1.422253e+04
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,5.500000e+05,81.000000,...,42.750000,29.250000,31.000000,1.000000,3.000000,NaN,66.000000,3.000000,340.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,2.000000e+07,9999.000000,...,5077.000000,5078.000000,411.000000,28.000000,4.000000,NaN,23442.000000,15.000000,232145.000000,inf

In [6]:
df = df[df["Nombre pieces principales"] == 4.0]
df.head(20)

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,prix_m2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2022,Vente,...,0,1.0,Maison,NaN,71.0,4.0,S,NaN,70.0,5577.464789
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2022,Vente,...,2,2.0,Appartement,NaN,108.0,4.0,NaN,NaN,NaN,6296.296296
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2022,Vente,...,1,2.0,Appartement,NaN,75.0,4.0,NaN,NaN,NaN,4017.333333
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2022,Vente,...,0,1.0,Maison,NaN,92.0,4.0,S,NaN,121.0,5760.869565
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,13/01/2022,Vente,...,0,1.0,Maison,NaN,129.0,4.0,S,NaN,175.0,5426.356589
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,10/01/2022,Vente,...,2,2.0,Appartement,NaN,64.0,4.0,NaN,NaN,NaN,2976.562500
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2022,Vente,...,0,1.0,Maison,NaN,115.0,4.0,S,NaN,362.0,4695.652174
110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,1,2.0,Appartement,NaN,68.0,4.0,NaN,NaN,NaN,3720.588235
136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11/01/2022,Vente,...,1,2.0,Appartement,NaN,126.0,4.0,NaN,NaN,NaN,4190.476190
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,10/01/2022,Vente,...,0,1.0,Maison,NaN,120.0,4.0,S,NaN,50.0,4625.000000
151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,05/01/2022,Vente,...,1,2.0,Appartement,NaN,78.0,4.0,NaN,NaN,NaN,2500.000000
170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,21/01/2022,Vente,...,0,1.0,Maison,NaN,150.0,4.0,S,NaN,152.0,3803.333333
236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,17/01/2022,Vente,...,1,2.0,Appartement,NaN,86.0,4.0,NaN,NaN,NaN,5697.674419
249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,20/01/2022,Vente,...,0,1.0,Maison,NaN,70.0,4.0,S,NaN,168.0,2592.857143
279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,24/01/2022,Vente,...,0,1.0,Maison,NaN,85.0,4.0,S,NaN,236.0,6000.000000
322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,24/01/2022,Vente,...,1,2.0,Appartement,NaN,78.0,4.0,NaN,NaN,NaN,3166.666667
326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,21/01/2022,Vente,...,0,1.0,Maison,NaN,105.0,4.0,AB,NaN,421.0,4166.257143
339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,14/01/2022,Vente,...,1,2.0,Appartement,NaN,80.0,4.0,NaN,NaN,NaN,3600.000000
341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2022,Vente,...,1,2.0,Appartement,NaN,109.0,4.0,NaN,NaN,NaN,3064.220183
346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,28/01/2022,Vente,...,1,2.0,Appartement,NaN,117.0,4.0,NaN,NaN,NaN,6389.316239

In [7]:
df.shape[0]

1071

In [8]:
df["prix_m2"] = df["Valeur fonciere"] / df["Surface reelle bati"]
df.head(20)

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,prix_m2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2022,Vente,...,0,1.0,Maison,NaN,71.0,4.0,S,NaN,70.0,5577.464789
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2022,Vente,...,2,2.0,Appartement,NaN,108.0,4.0,NaN,NaN,NaN,6296.296296
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2022,Vente,...,1,2.0,Appartement,NaN,75.0,4.0,NaN,NaN,NaN,4017.333333
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2022,Vente,...,0,1.0,Maison,NaN,92.0,4.0,S,NaN,121.0,5760.869565
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,13/01/2022,Vente,...,0,1.0,Maison,NaN,129.0,4.0,S,NaN,175.0,5426.356589
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,10/01/2022,Vente,...,2,2.0,Appartement,NaN,64.0,4.0,NaN,NaN,NaN,2976.562500
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2022,Vente,...,0,1.0,Maison,NaN,115.0,4.0,S,NaN,362.0,4695.652174
110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,1,2.0,Appartement,NaN,68.0,4.0,NaN,NaN,NaN,3720.588235
136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11/01/2022,Vente,...,1,2.0,Appartement,NaN,126.0,4.0,NaN,NaN,NaN,4190.476190
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,10/01/2022,Vente,...,0,1.0,Maison,NaN,120.0,4.0,S,NaN,50.0,4625.000000
151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,05/01/2022,Vente,...,1,2.0,Appartement,NaN,78.0,4.0,NaN,NaN,NaN,2500.000000
170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,21/01/2022,Vente,...,0,1.0,Maison,NaN,150.0,4.0,S,NaN,152.0,3803.333333
236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,17/01/2022,Vente,...,1,2.0,Appartement,NaN,86.0,4.0,NaN,NaN,NaN,5697.674419
249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,20/01/2022,Vente,...,0,1.0,Maison,NaN,70.0,4.0,S,NaN,168.0,2592.857143
279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,24/01/2022,Vente,...,0,1.0,Maison,NaN,85.0,4.0,S,NaN,236.0,6000.000000
322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,24/01/2022,Vente,...,1,2.0,Appartement,NaN,78.0,4.0,NaN,NaN,NaN,3166.666667
326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,21/01/2022,Vente,...,0,1.0,Maison,NaN,105.0,4.0,AB,NaN,421.0,4166.257143
339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,14/01/2022,Vente,...,1,2.0,Appartement,NaN,80.0,4.0,NaN,NaN,NaN,3600.000000
341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2022,Vente,...,1,2.0,Appartement,NaN,109.0,4.0,NaN,NaN,NaN,3064.220183
346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,28/01/2022,Vente,...,1,2.0,Appartement,NaN,117.0,4.0,NaN,NaN,NaN,6389.316239

In [9]:
df_appartements = df[df["Type local"] == "Appartement"]
df_appartements.shape[0]

663

In [10]:
df_maisons = df[df["Type local"] == "Maison"]
df_maisons.shape[0]

408

In [11]:
df_appartements = df_appartements[["Surface reelle bati", "Nombre pieces principales", "Type local", "Surface terrain", "Nombre de lots", "prix_m2"]]
df_appartements.head(10)

,Surface reelle bati,Nombre pieces principales,Type local,Surface terrain,Nombre de lots,prix_m2
13,108.0,4.0,Appartement,NaN,2,6296.296296
23,75.0,4.0,Appartement,NaN,1,4017.333333
57,64.0,4.0,Appartement,NaN,2,2976.562500
110,68.0,4.0,Appartement,NaN,1,3720.588235
136,126.0,4.0,Appartement,NaN,1,4190.476190
151,78.0,4.0,Appartement,NaN,1,2500.000000
236,86.0,4.0,Appartement,NaN,1,5697.674419
322,78.0,4.0,Appartement,NaN,1,3166.666667
339,80.0,4.0,Appartement,NaN,1,3600.000000
341,109.0,4.0,Appartement,NaN,1,3064.220183

In [12]:
df_maisons = df_maisons[["Surface reelle bati", "Nombre pieces principales", "Type local", "Surface terrain", "Nombre de lots", "prix_m2"]]
df_maisons.head(10)

,Surface reelle bati,Nombre pieces principales,Type local,Surface terrain,Nombre de lots,prix_m2
0,71.0,4.0,Maison,70.0,0,5577.464789
31,92.0,4.0,Maison,121.0,0,5760.869565
48,129.0,4.0,Maison,175.0,0,5426.356589
75,115.0,4.0,Maison,362.0,0,4695.652174
141,120.0,4.0,Maison,50.0,0,4625.000000
170,150.0,4.0,Maison,152.0,0,3803.333333
249,70.0,4.0,Maison,168.0,0,2592.857143
279,85.0,4.0,Maison,236.0,0,6000.000000
326,105.0,4.0,Maison,421.0,0,4166.257143
349,95.0,4.0,Maison,165.0,0,5263.157895

In [13]:
df_appartements["Surface terrain"] = df_appartements["Surface terrain"].fillna(0)

In [14]:
median_terrain = df_maisons["Surface terrain"].median()
df_maisons["Surface terrain"] = df_maisons["Surface terrain"].fillna(median_terrain)

In [15]:
df_appartements.isna().sum()

Surface reelle bati          0
Nombre pieces principales    0
Type local                   0
Surface terrain              0
Nombre de lots               0
prix_m2                      0
dtype: int64

In [16]:
df_maisons.isna().sum()

Surface reelle bati          0
Nombre pieces principales    0
Type local                   0
Surface terrain              0
Nombre de lots               0
prix_m2                      0
dtype: int64

In [17]:
df_appartements.shape[0]

663

In [18]:
df_maisons.shape[0]

408

In [19]:
def remove_outliers_iqr(df, column):
    """
    Supprime les valeurs aberrantes d'une colonne numérique dans un DataFrame,
    en utilisant la méthode de l'IQR. Modifie le DataFrame en place et affiche
    le nombre de lignes supprimées.
    """
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outlier_indices = df[(df[column] < lower_bound) | (df[column] > upper_bound)].index
    nb_outliers = len(outlier_indices)

    df.drop(outlier_indices, inplace=True)
    print(f"{nb_outliers} valeur(s) aberrante(s) supprimée(s) dans la colonne '{column}'.")

In [20]:
remove_outliers_iqr(df_appartements, "prix_m2")
df_appartements.shape[0]

57 valeur(s) aberrante(s) supprimée(s) dans la colonne 'prix_m2'.

606

In [21]:
remove_outliers_iqr(df_appartements, "Surface reelle bati")
df_appartements.shape[0]

27 valeur(s) aberrante(s) supprimée(s) dans la colonne 'Surface reelle bati'.

579

In [22]:
remove_outliers_iqr(df_maisons, "prix_m2")
df_maisons.shape[0]

22 valeur(s) aberrante(s) supprimée(s) dans la colonne 'prix_m2'.

386

In [23]:
remove_outliers_iqr(df_maisons, "Surface reelle bati")
df_maisons.shape[0]

7 valeur(s) aberrante(s) supprimée(s) dans la colonne 'Surface reelle bati'.

379

In [24]:
df_appartements["Type local"] = df_appartements["Type local"].map({"Maison": 0, "Appartement": 1})

Modèle LinearRegression appartements

In [25]:
import os
import joblib
import numpy as np

racine_courante = os.getcwd()
racine_projet = os.path.abspath(os.path.join(racine_courante, ".."))

chemin = os.path.join(racine_projet, "data", "sauvegardes", "LinearRegression", "appartements")

if not os.path.exists(chemin):
    raise FileNotFoundError(f"Le dossier suivant est introuvable : {chemin}")

fichiers = {
    "modèle": "app_model_LinearRegression.pkl",
    "scaler_X": "app_scaler_X.pkl",
    "scaler_y": "app_scaler_y.pkl"
}

for nom, fichier in fichiers.items():
    complet = os.path.join(chemin, fichier)
    if not os.path.exists(complet):
        raise FileNotFoundError(f"Fichier manquant : {complet}")

modele = joblib.load(os.path.join(chemin, fichiers["modèle"]))
scaler_X = joblib.load(os.path.join(chemin, fichiers["scaler_X"]))
scaler_y = joblib.load(os.path.join(chemin, fichiers["scaler_y"]))

surface = 35.5
nombre_pieces = 2
surface_terrain = 0
nombre_lots = 2
type_local = "Appartement"

type_local_map = {"Maison": 0, "Appartement": 1}
type_local = type_local_map[type_local]

entree = np.array([[
    surface,
    nombre_pieces,
    surface_terrain,
    nombre_lots,
    type_local
]])

entree_scaled = scaler_X.transform(entree)
pred_scaled = modele.predict(entree_scaled)
prix_m2 = scaler_y.inverse_transform(pred_scaled.reshape(-1, 1))[0][0]

prix_total = prix_m2 * surface

print("Estimation avec le modèle : LinearRegression")
print(f"Prix prédit au m² : {prix_m2:,.2f} €")
print(f"Prix total estimé pour un appartement de {surface} m² et {nombre_lots} lot(s) : {prix_total:,.2f} €")

Estimation avec le modèle : LinearRegression
Prix prédit au m² : 2,272.66 €
Prix total estimé pour un appartement de 35.5 m² et 2 lot(s) : 80,679.31 €

Modèle LinearRegression Maison

In [26]:
import os
import joblib
import numpy as np

racine_courante = os.getcwd()
racine_projet = os.path.abspath(os.path.join(racine_courante, ".."))

chemin = os.path.join(racine_projet, "data", "sauvegardes", "LinearRegression", "maisons")

if not os.path.exists(chemin):
    raise FileNotFoundError(f"Le dossier suivant est introuvable : {chemin}")

fichiers = {
    "modèle": "app_model_LinearRegression.pkl",
    "scaler_X": "app_scaler_X.pkl",
    "scaler_y": "app_scaler_y.pkl"
}

for nom, fichier in fichiers.items():
    complet = os.path.join(chemin, fichier)
    if not os.path.exists(complet):
        raise FileNotFoundError(f"Fichier manquant : {complet}")

modele = joblib.load(os.path.join(chemin, fichiers["modèle"]))
scaler_X = joblib.load(os.path.join(chemin, fichiers["scaler_X"]))
scaler_y = joblib.load(os.path.join(chemin, fichiers["scaler_y"]))

surface = 35.5
nombre_pieces = 4
surface_terrain = 200
nombre_lots = 1
type_local = "Maison"

type_local_map = {"Maison": 0, "Appartement": 1}
type_local = type_local_map[type_local]

entree = np.array([[
    surface,
    nombre_pieces,
    surface_terrain,
    nombre_lots,
    type_local
]])

entree_scaled = scaler_X.transform(entree)
pred_scaled = modele.predict(entree_scaled)
prix_m2 = scaler_y.inverse_transform(pred_scaled.reshape(-1, 1))[0][0]

prix_total = prix_m2 * surface

print("Estimation avec le modèle : LinearRegression")
print(f"Prix prédit au m² : {prix_m2:,.2f} €")
print(f"Prix total estimé pour une maison de {surface} m² et {nombre_lots} lot(s) : {prix_total:,.2f} €")

Estimation avec le modèle : LinearRegression
Prix prédit au m² : 3,097.07 €
Prix total estimé pour une maison de 35.5 m² et 1 lot(s) : 109,945.90 €

In [28]:
import os
import joblib
import numpy as np

racine_courante = os.getcwd()
racine_projet = os.path.abspath(os.path.join(racine_courante, ".."))

chemin = os.path.join(racine_projet, "data", "sauvegardes", "DecisionTreeRegressor", "appartements")

if not os.path.exists(chemin):
    raise FileNotFoundError(f"Le dossier suivant est introuvable : {chemin}")

fichiers = {
    "modèle": "app_model_DecisionTreeRegressor.pkl",
    "scaler_X": "app_scaler_X.pkl",
    "scaler_y": "app_scaler_y.pkl"
}

for nom, fichier in fichiers.items():
    complet = os.path.join(chemin, fichier)
    if not os.path.exists(complet):
        raise FileNotFoundError(f"Fichier manquant : {complet}")

modele = joblib.load(os.path.join(chemin, fichiers["modèle"]))
scaler_X = joblib.load(os.path.join(chemin, fichiers["scaler_X"]))
scaler_y = joblib.load(os.path.join(chemin, fichiers["scaler_y"]))

surface = 35.5
nombre_pieces = 2
surface_terrain = 0
nombre_lots = 2
type_local = "Appartement"

type_local_map = {"Maison": 0, "Appartement": 1}
type_local = type_local_map[type_local]

entree = np.array([[
    surface,
    nombre_pieces,
    surface_terrain,
    nombre_lots,
    type_local
]])

entree_scaled = scaler_X.transform(entree)
pred_scaled = modele.predict(entree_scaled)
prix_m2 = scaler_y.inverse_transform(pred_scaled.reshape(-1, 1))[0][0]

prix_total = prix_m2 * surface

print("Estimation avec le modèle : DecisionTreeRegressor")
print(f"Prix prédit au m² : {prix_m2:,.2f} €")
print(f"Prix total estimé pour un appartement de {surface} m² et {nombre_lots} lot(s) : {prix_total:,.2f} €")

Estimation avec le modèle : DecisionTreeRegressor
Prix prédit au m² : 2,785.85 €
Prix total estimé pour un appartement de 35.5 m² et 2 lot(s) : 98,897.71 €

In [30]:
import os
import joblib
import numpy as np

racine_courante = os.getcwd()
racine_projet = os.path.abspath(os.path.join(racine_courante, ".."))

chemin = os.path.join(racine_projet, "data", "sauvegardes", "DecisionTreeRegressor", "maisons")

if not os.path.exists(chemin):
    raise FileNotFoundError(f"Le dossier suivant est introuvable : {chemin}")

fichiers = {
    "modèle": "app_model_DecisionTreeRegressor.pkl",
    "scaler_X": "app_scaler_X.pkl",
    "scaler_y": "app_scaler_y.pkl"
}

for nom, fichier in fichiers.items():
    complet = os.path.join(chemin, fichier)
    if not os.path.exists(complet):
        raise FileNotFoundError(f"Fichier manquant : {complet}")

modele = joblib.load(os.path.join(chemin, fichiers["modèle"]))
scaler_X = joblib.load(os.path.join(chemin, fichiers["scaler_X"]))
scaler_y = joblib.load(os.path.join(chemin, fichiers["scaler_y"]))

surface = 35.5
nombre_pieces = 4
surface_terrain = 150
nombre_lots = 2
type_local = "Maison"

type_local_map = {"Maison": 0, "Appartement": 1}
type_local = type_local_map[type_local]

entree = np.array([[
    surface,
    nombre_pieces,
    surface_terrain,
    nombre_lots,
    type_local
]])

entree_scaled = scaler_X.transform(entree)
pred_scaled = modele.predict(entree_scaled)
prix_m2 = scaler_y.inverse_transform(pred_scaled.reshape(-1, 1))[0][0]

prix_total = prix_m2 * surface

print("Estimation avec le modèle : DecisionTreeRegressor")
print(f"Prix prédit au m² : {prix_m2:,.2f} €")
print(f"Prix total estimé pour une maison de {surface} m² et {nombre_lots} lot(s) : {prix_total:,.2f} €")

Estimation avec le modèle : DecisionTreeRegressor
Prix prédit au m² : 3,060.04 €
Prix total estimé pour une maison de 35.5 m² et 2 lot(s) : 108,631.34 €

In [31]:
import os
import joblib
import numpy as np

racine_courante = os.getcwd()
racine_projet = os.path.abspath(os.path.join(racine_courante, ".."))

chemin = os.path.join(racine_projet, "data", "sauvegardes", "RandomForestRegressor", "appartements")

if not os.path.exists(chemin):
    raise FileNotFoundError(f"Le dossier suivant est introuvable : {chemin}")

fichiers = {
    "modèle": "app_model_RandomForestRegressor.pkl",
    "scaler_X": "app_scaler_X.pkl",
    "scaler_y": "app_scaler_y.pkl"
}

for nom, fichier in fichiers.items():
    complet = os.path.join(chemin, fichier)
    if not os.path.exists(complet):
        raise FileNotFoundError(f"Fichier manquant : {complet}")

modele = joblib.load(os.path.join(chemin, fichiers["modèle"]))
scaler_X = joblib.load(os.path.join(chemin, fichiers["scaler_X"]))
scaler_y = joblib.load(os.path.join(chemin, fichiers["scaler_y"]))

surface = 35.5
nombre_pieces = 2
surface_terrain = 0
nombre_lots = 2
type_local = "Appartement"

type_local_map = {"Maison": 0, "Appartement": 1}
type_local = type_local_map[type_local]

entree = np.array([[
    surface,
    nombre_pieces,
    surface_terrain,
    nombre_lots,
    type_local
]])

entree_scaled = scaler_X.transform(entree)
pred_scaled = modele.predict(entree_scaled)
prix_m2 = scaler_y.inverse_transform(pred_scaled.reshape(-1, 1))[0][0]

prix_total = prix_m2 * surface

print("Estimation avec le modèle : RandomForestRegressor")
print(f"Prix prédit au m² : {prix_m2:,.2f} €")
print(f"Prix total estimé pour un appartement de {surface} m² et {nombre_lots} lot(s) : {prix_total:,.2f} €")

Estimation avec le modèle : RandomForestRegressor
Prix prédit au m² : 3,331.70 €
Prix total estimé pour un appartement de 35.5 m² et 2 lot(s) : 118,275.35 €

In [32]:
import os
import joblib
import numpy as np

racine_courante = os.getcwd()
racine_projet = os.path.abspath(os.path.join(racine_courante, ".."))

chemin = os.path.join(racine_projet, "data", "sauvegardes", "RandomForestRegressor", "maisons")

if not os.path.exists(chemin):
    raise FileNotFoundError(f"Le dossier suivant est introuvable : {chemin}")

fichiers = {
    "modèle": "app_model_RandomForestRegressor.pkl",
    "scaler_X": "app_scaler_X.pkl",
    "scaler_y": "app_scaler_y.pkl"
}

for nom, fichier in fichiers.items():
    complet = os.path.join(chemin, fichier)
    if not os.path.exists(complet):
        raise FileNotFoundError(f"Fichier manquant : {complet}")

modele = joblib.load(os.path.join(chemin, fichiers["modèle"]))
scaler_X = joblib.load(os.path.join(chemin, fichiers["scaler_X"]))
scaler_y = joblib.load(os.path.join(chemin, fichiers["scaler_y"]))

surface = 35.5
nombre_pieces = 4
surface_terrain = 150
nombre_lots = 2
type_local = "Maison"

type_local_map = {"Maison": 0, "Appartement": 1}
type_local = type_local_map[type_local]

entree = np.array([[
    surface,
    nombre_pieces,
    surface_terrain,
    nombre_lots,
    type_local
]])

entree_scaled = scaler_X.transform(entree)
pred_scaled = modele.predict(entree_scaled)
prix_m2 = scaler_y.inverse_transform(pred_scaled.reshape(-1, 1))[0][0]

prix_total = prix_m2 * surface

print("Estimation avec le modèle : RandomForestRegressor")
print(f"Prix prédit au m² : {prix_m2:,.2f} €")
print(f"Prix total estimé pour une maison de {surface} m² et {nombre_lots} lot(s) : {prix_total:,.2f} €")

Estimation avec le modèle : RandomForestRegressor
Prix prédit au m² : 2,951.32 €
Prix total estimé pour une maison de 35.5 m² et 2 lot(s) : 104,771.91 €

In [33]:
import os
import joblib
import numpy as np

racine_courante = os.getcwd()
racine_projet = os.path.abspath(os.path.join(racine_courante, ".."))

chemin = os.path.join(racine_projet, "data", "sauvegardes", "RandomForestRegressor", "maisons")

if not os.path.exists(chemin):
    raise FileNotFoundError(f"Le dossier suivant est introuvable : {chemin}")

fichiers = {
    "modèle": "app_model_RandomForestRegressor.pkl",
    "scaler_X": "app_scaler_X.pkl",
    "scaler_y": "app_scaler_y.pkl"
}

for nom, fichier in fichiers.items():
    complet = os.path.join(chemin, fichier)
    if not os.path.exists(complet):
        raise FileNotFoundError(f"Fichier manquant : {complet}")

modele = joblib.load(os.path.join(chemin, fichiers["modèle"]))
scaler_X = joblib.load(os.path.join(chemin, fichiers["scaler_X"]))
scaler_y = joblib.load(os.path.join(chemin, fichiers["scaler_y"]))

surface = 35.5
nombre_pieces = 4
surface_terrain = 150
nombre_lots = 2
type_local = "Maison"

type_local_map = {"Maison": 0, "Appartement": 1}
type_local = type_local_map[type_local]

entree = np.array([[
    surface,
    nombre_pieces,
    surface_terrain,
    nombre_lots,
    type_local
]])

entree_scaled = scaler_X.transform(entree)
pred_scaled = modele.predict(entree_scaled)
prix_m2 = scaler_y.inverse_transform(pred_scaled.reshape(-1, 1))[0][0]

prix_total = prix_m2 * surface

print("Estimation avec le modèle : RandomForestRegressor")
print(f"Prix prédit au m² : {prix_m2:,.2f} €")
print(f"Prix total estimé pour une maison de {surface} m² et {nombre_lots} lot(s) : {prix_total:,.2f} €")

Estimation avec le modèle : RandomForestRegressor
Prix prédit au m² : 2,951.32 €
Prix total estimé pour une maison de 35.5 m² et 2 lot(s) : 104,771.91 €

In [34]:
import os
import joblib
import numpy as np

racine_courante = os.getcwd()
racine_projet = os.path.abspath(os.path.join(racine_courante, ".."))

chemin = os.path.join(racine_projet, "data", "sauvegardes", "XGBRegressor", "maisons")

if not os.path.exists(chemin):
    raise FileNotFoundError(f"Le dossier suivant est introuvable : {chemin}")

fichiers = {
    "modèle": "app_model_XGBoost.pkl",
    "scaler_X": "app_scaler_X.pkl",
    "scaler_y": "app_scaler_y.pkl"
}

for nom, fichier in fichiers.items():
    complet = os.path.join(chemin, fichier)
    if not os.path.exists(complet):
        raise FileNotFoundError(f"Fichier manquant : {complet}")

modele = joblib.load(os.path.join(chemin, fichiers["modèle"]))
scaler_X = joblib.load(os.path.join(chemin, fichiers["scaler_X"]))
scaler_y = joblib.load(os.path.join(chemin, fichiers["scaler_y"]))

surface = 35.5
nombre_pieces = 4
surface_terrain = 150
nombre_lots = 2
type_local = "Maison"

type_local_map = {"Maison": 0, "Appartement": 1}
type_local = type_local_map[type_local]

entree = np.array([[
    surface,
    nombre_pieces,
    surface_terrain,
    nombre_lots,
    type_local
]])

entree_scaled = scaler_X.transform(entree)
pred_scaled = modele.predict(entree_scaled)
prix_m2 = scaler_y.inverse_transform(pred_scaled.reshape(-1, 1))[0][0]

prix_total = prix_m2 * surface

print("Estimation avec le modèle : XGBRegressor")
print(f"Prix prédit au m² : {prix_m2:,.2f} €")
print(f"Prix total estimé pour une maison de {surface} m² et {nombre_lots} lot(s) : {prix_total:,.2f} €")

Estimation avec le modèle : XGBRegressor
Prix prédit au m² : 2,980.56 €
Prix total estimé pour une maison de 35.5 m² et 2 lot(s) : 105,809.98 €